*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  body{
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      background-color: #F5F0E5;
  }
    //    header start

    .logo{
        display: flex;
        justify-content: space-between;
      }
      .logo img{
        margin-top: 5px;
        height:50px;
      }
      #check{
        display: block;
        
      }
      .listDiv{
        display: flex;
      }
      .menu-btn{
        display: none;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all .5s ease-in-out;
      }
      .menu-btn-burger {
        width:30px;
        height: 3px;
        background-color: black;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
      }
      .menu-btn-burger::before,
      .menu-btn-burger::after{
        content: '';
        position: absolute;
        width:30px;
        height: 3px;
        background-color: black;
        border-radius: 2px;
        transition:  all .5s ease-in-out;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
      }
      .menu-btn-burger::before{
          transform: translateY(-10px);
      }
      .menu-btn-burger::after{
        transform: translateY(10px);
      }
      .menu-btn.open .menu-btn-burger{
        transform: translateX(0px);
        background: transparent;
        box-shadow: none;
      }
      .menu-btn.open .menu-btn-burger::before{
        transform: rotate(45deg);
      }
      .menu-btn.open .menu-btn-burger::after{
        transform: rotate(-45deg); 
      }
      .unlist{
        display: block;
      }
      header{
          width: 100%;
          overflow: hidden;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
      }
      .nav{
          position: fixed;
          top:0;
        width: 100%;
        background-color: white;
        z-index: 999;
        display:flex;
        justify-content:space-evenly;
        align-items: center;
        overflow: hidden;
        box-sizing: border-box;
        padding: 1rem 8vw;
      }
      .nav ul{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
      }
      .nav ul li{
        margin-top: 0px;
        display:block;
        list-style-type: none;
        padding:0px 15px;
      }
      
      .nav ul li a{
        text-decoration: none;
        color:black;
        font-size: 14px;
        font-weight: 600;
      }
      .nav ul li a:hover{
        color:#bE505F;
      }
      .nav ul li a::after{
        content:"";
        display: block;
        transform-origin: 0 0;
        transform:scaleX(0);
        width: 25px;
        height:3px;
        background-color: #bE505F;
        transition: 0.3s all linear;
        margin-top: 2px;
       }
       .nav ul li a:hover::after{
       transform-origin: 0 100%;
       transform: scaleX(1);
      
       }
       
       .register-btn{
        color: #bE505F !important;
        border: 1px solid #bE505F;
        padding: 7px 12px;
        border-radius: 1rem;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
        transition: 0.4s all linear;
        &:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-decoration: none;
            color:white !important;
            background-color: #bE505F;
        }
        &::after{
            content:"";
            display: none !important;
        }
       }
    //    header end

     // selling section css start
       .selling{
         width:100%;
         padding-top: 50px;
         box-sizing: border-box;
         text-align: center;
         .register-here-button{
        
          display: inline-block;
          padding: 5px 15px;
          border: 1px solid #bE505F;
          border-radius: 1.6rem;
          text-decoration: none;
          color: #bE505F;
          margin-top: 1rem;
          font-weight: 600;
          border-radius: 1.6rem;
          text-align: center;
          margin-bottom: 50px;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
          transition: 0.4s all linear;
          
        }
         .selling-container{
           width:100%;
           margin:0 auto;
          
           h2{
             text-align: center;
             margin-top:25px;
             font-size: 40px;
             font-weight: 800;
           }
           p{
            text-align: center;
            margin-top: 30px;
            font-weight: 700;
            font-size: 25px;
            padding-bottom: 10px;
           }
           .selling-container-images{
             display: flex;
             flex-direction: row;
             align-items: center;
             justify-content: center;
             margin-top: 50px;
             text-align: center;
             .original-creation, .great-pictures{
              border-left: 3px solid black;
             }
             .selling-container-images-section{
               width:33%;
               img{
                 width:150px;
                 height:150px;
               }
               span{
                 display: block;
                 margin-top: 15px;
               }
             }
           }
         }
         .register-here-button:hover{
          background-color:#bE505F;
          color: white;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       }

     // selling section css end

      // section second css start
       .second-section{
         width:100%;
         overflow: hidden;
         box-sizing: border-box;
         margin-top: 50px;
         .second-section-header{
          text-align: center;
          font-size: 40px;
          font-weight: 800;
          margin-bottom: 50px;
         }
         .second-section-container{
           display: flex;
           flex-direction: row;
           align-items: baseline;
           justify-content: center;
           width:100%;
           margin:0 auto;
           text-align: center;
           height:370px;
           overflow: hidden;
           .second-section-container-box{
             width:calc(100%/3);
             padding: 0 10px 0 0; 
             .second-section-container-box-image-section{
               height:250px;
               
               overflow: hidden;
               img{
                 height:100%;
                 width:100%;
                 background-size: contain;
                 object-fit: contain;
                 object-position: center;
               }
             }
           }
           p{
            font-size: 22px;
            font-weight: 400;
            margin-top: 20px;
           }
          
         }
         .register-here-button{
          margin-top: 2rem;
          display: inline-block;
          padding: 5px 15px;
          border: 1px solid #bE505F;
          border-radius: 1.6rem;
          font-weight: 600;
          text-decoration: none;
          color: #bE505F;
          margin-top: 1rem;
          border-radius: 1.6rem;
          text-align: center;
          margin-bottom: 50px;
          transition: 0.4s all linear;
          margin-left: 50%;
          transform: translateX(-50%);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
        }
         .register-here-button:hover{
          background-color:#bE505F;
          color: white;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
       }

      // section second css end

    // botique-designer css start
       .botique-designer{
           width:100%;
           overflow: hidden;
           background-color: #3E5377;
           padding:100px 0 100px 0;
           margin-top: 89px;
           .botique-designer-container{
               width:90%;
               max-width: 1200px;
               margin-left: auto;
               margin-right: auto;
               box-sizing: border-box;
               overflow: hidden;
               display: flex;
               flex-direction: row;
               justify-content: center;
               align-items: center;
               .botique-designer-container-textsection{
                   width:50%;
                  .botique-designer-header{
                      font-size: 3rem;
                      color: white;
                      font-weight: 800;
                  }
                  .botique-designer-pbtag{
                    font-size: 1.5rem;
                    margin-top: 1rem;
                    color: white;
                  }
                  .botique-designer-pstag{
                    margin-top: 1rem;
                    font-size: 1rem;
                    color: white;
                  }
                  .register-here-button{
                    margin-top: 2rem;
                    display: inline-block;
                    padding: 7px 12px;
                    border: 1px solid white;
                    border-radius: 1.6rem;
                    text-decoration: none;
                    color: white;
                    font-weight: 600;
                    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
                    &:hover{
                      background-color: white;
                      color:#3E5377;
                      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    }
                  }
               }
               
           }
       }

    // botique-designer css end 

    

     // people pricing section
        .people-pricing-section{
          &::-webkit-scrollbar {
            display: unset;
        }
          h1{
            text-align: center;
            font-size: 40px;
            margin-top: 20px;
            font-weight: 800;
            margin-bottom: 20px;
          }
          .detail-box-header{
            font-weight: bold;
          }
          width:100%;
          overflow: auto;
          background-color: white;
          padding-bottom: 50px;
           .people-pricing-section-container{
            
             min-width: 1200px;
             width:95%;
             margin:0 auto;
             overflow: hidden;
        
             .people-pricing-section-container-detail{
               display: flex;
               flex-direction: row;
               align-items: baseline;
               justify-content: center;
               .people-pricing-section-container-detail-box{
                 width:25%;
                 padding: 50px 0px 50px 15px;
                 border-left: 1px solid gray;
                 text-align: center;
                 .select-plan{
                   text-decoration: none;
                   color: #3E5377;
                   border:1px solid #3E5377;
                   padding: 7px 12px;
                   font-weight: 600;
                   border-radius: 17px;
                   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
                   transition: 0.4s all linear;
                   &:hover{
                       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                       text-decoration: none;
                       color:white;
                       background-color: #3E5377;
                   }
                 }
                 img{
                   width: 50px;
                   height:50px;
                   display: block;
                   margin: 20px auto 0 auto;
                 }
               }
             }
             .people-pricing-section-container-feature{
               .people-pricing-section-container-feature-header{
                 width: 25%;
               }
               background-color: #D6D6D6;
               padding:15px;
               text-align: center;
               h2{
                 font-size: 27px;
                 font-weight: 600;
               }
             }
           }
           .people-pricing-section-container-feature-detail{
             width:100%;
             line-height: 1;
             text-align: center;
             table{
               width:100%;
               tr{
                 width:100%;
                 td{
                   width:25%;
                   padding: 20px;
                 }
               }
               
             }
             table, th, td {
              border-right: 1px solid black;
              border-collapse: collapse;
            }
             img{
               height:25px;

             }
             .people-pricing-section-container-feature-detail-box{
              padding: 15px 0 0 0;
              margin-right: 15px;
              .people-pricing-section-container-feature-detail-box-tag{
                border-right: 1px solid gray;
              }
                 display: flex;
                 flex-direction: row;
                 align-items: center;
                 justify-content: center;
                 h1{
                   font-weight: 800;
                 }
                 .feature-detail-box-tag{
                   width:25%;
                   padding-left: 20px;
                   font-size: 20px;
                   font-weight: 600;
                   p{
                     margin-bottom: 0;
                   }
                 }
                 .feature-detail-box-sign{
                  width:25%;
                  
                  img{
                    height:25px;
                    transform: translateX(50px);
                  }
                 }
             }
           }
        }

     // people pricing section


    // section four css start
      .section-four{
           width: 100%;
           overflow: hidden;
           text-align: center;
           padding: 50px 0 50px 0;
           .section-four-container{
             max-width: 1000px;
             width: 90%;
             margin: 0 auto;
             h2{
             
              font-size: 40px;
              font-weight: 800;
             }
             p{
              font-size: 20px;
              font-weight: 600;
              margin-top: 20px;
             }
             a{
              margin-top: 25px;
              display: inline-block;
              padding: 10px 15px 10px 15px;
              border: 1px solid #bE505F;
              border-radius: 1.6rem;
              font-weight: 600;
              text-decoration: none;
              color: #bE505F;
              transition: 0.4s all linear;
              box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);
              span{
                margin-left: 5px;
              }
              &:hover{
                background-color: #bE505F;
                color: white;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              }
              img{
                transform: translateY(0px);
              }
             }
           }
      }
     // section four css start

     .testimonal-brand-heading{
      font-size: 40px;
      font-weight: 800;
     }
     .testimonal-subheading{
      font-size: 18px;
      font-weight: 600;
     }
     .testimonal-header{
      font-size: 45px;
      font-weight: 800;
     }
       // footer section start

       .footer-section{
        background-color: rgb(62, 83, 119);
        margin-top: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        .footer{
            display: flex;
            .footer-firstsection{
                width: 50%;
                padding-left: 100px;
                .footer-firstsection-logo{
                    width:100px;
                    height: 100px;
                    margin-top: 50px;
                    overflow: hidden;
                    img{
                       width: 100%;
                       height: 100%;
                       object-fit: contain;
                    }
                }
                .footer-p-tag{
                    margin-top: 30px;
                }
                .footer-firstsection-icons{
                    .footer-firstsection-icons-icon{
                        margin-left:10px;
                    }
                }
            }
            .footer-secondsection{
                width: 50%;
                .footer-secondsection-text{
                    display: flex;
                    margin-top: 40px;
                    width: 100%;
                    .footer-secondsection-text-context{
                        margin-left: 25px;
                    }
                }
                .footer-secondsection-image{
                    width: 100%;
                    img{
                        height:100px;
                        width: 200px;
                        margin-left: 380px;
                    }
                }
                
            }
        }
        .footer-last-section{
            margin-top: 30px;
            padding-bottom: 20px;
            margin-bottom: 0;
        }
        .fotter-postion-gap, .fotter-partner{
            margin-top: 10px;
        }
      }

       // footer section end

    @media only screen and (max-width:1240px){

        // header css start
        .nav{
            display:flex;
            flex-direction: column;
          }
          .nav ul{
            display: flex;
            flex-direction: column;
            width:100%;
            padding-left: 0px;
            margin-right: 0;
          } 
          .unlist{
            display: none;
          }
          .menu-btn{
            display: flex;
            margin-top: 10px;
          }
          .listDiv{
             display: flex;
             flex-direction: column;
          }
          .logo{
            width:100%;
          }
          .nav ul li{
              text-align: center;
            display: block;
            padding:0px;
            margin-top: 0px !important;
            line-height: 50px;
            border-bottom: 1px solid gray;
          }
          .second-unorderlist{
              margin-top: -15px;
          }
          .nav ul li a{
              font-size: 16px;
            font-weight: bold;
            margin-top: 12px;
            margin-bottom: 12px;
          }
          .nav ul li a::after{
              margin-top:-10px;
          }
          .register-btn {
            text-decoration: none !important;
        }
        .register-button{
            border-bottom: none !important;
            margin-top: 10px !important;
            transform: translateY(8px);
        }
        .second-unorderlist{
            margin-top: 5px !important;
        }
        // header css end
        
       
    }

    //

    @media only screen and (min-width:769px) and (max-width:1024px){
     
      .footer-secondsection-image img {
          margin-left: 220px !important;
      }
    }

    //

    @media only screen and (max-width:768px){

      // botique section start
      .botique-designer{
        padding:20px 0 30px 0;
        .botique-designer-container{
            padding-top: 25px;
            height:max-content;
            display: flex;
            flex-direction: column-reverse !important;
            .botique-designer-container-textsection{
                width:100%;
                .botique-designer-header {
                    font-size: 1.8rem;
                    margin-top: 3rem;
                }
                .botique-designer-pbtag {
                    font-size: 1.2rem;
                }
            }
            .botique-designer-container-videosection{
                width:100%;
                height:350px !important;
                overflow: hidden;
            }
        }
      }
      .botique-designer-container-videosection{
        position: relative;
                height: 0;
                width: 100%;
                iframe{
                  position: absolute;
                  top:0;
                  left: 0;
                  width:100%;
                  height:100%;
                }
      }
      // botique section end

        // pricing section start
      .pricing-section .pricing-section-container .pricing-section-container-first .pricing-section-container-block {
        min-width: 300px;
      }
      .pricing-section .pricing-section-container .pricing-section-container-second .pricing-section-container-block {
        min-width: 300px;
      }
      .pricing-section .pricing-section-container .pricing-section-container-third .pricing-section-container-block {
        min-width: 300px;
      }
       // pricing section end

       // footer section
      .footer-secondsection-image img {
        margin-left: 140px !important;
      }
     
    }
    @media only screen and (max-width:480px){

        // botique section start
        .botique-designer{
            padding:20px 0 20px 0;
            .botique-designer-container{
                padding-top: 25px;
                height:max-content;
                display: flex;
                flex-direction: column-reverse !important;
                .botique-designer-container-textsection{
                    width:100%;
                    .botique-designer-header {
                        font-size: 1.8rem;
                        margin-top: 3rem;
                    }
                    .botique-designer-pbtag {
                        font-size: 1.2rem;
                    }
                }
                .botique-designer-container-videosection{
                    width:100%;
                    height:350px !important;
                    overflow: hidden;
                }
            }
        }

        .botique-designer-container-videosection{
          position: relative;
                  height: 0;
                  width: 100%;
                  iframe{
                    position: absolute;
                    top:0;
                    left: 0;
                    width:100%;
                    height:100%;
                  }
        }
          // botique section end

        // selling section start
        .second-section .second-section-container .second-section-container-box {
          margin-top: 40px;
      }
        .selling-container-images-section{
          width:100%;
        }
        .selling .selling-container .selling-container-images {
          flex-direction: column;
        }
        .selling .selling-container h2 {
          
          font-size: 25px;
          line-height: 1.5;
      }
      .selling .selling-container .selling-container-images .selling-container-images-section {
        width: 100%;
       }
       .selling .selling-container .selling-container-images .selling-container-images-section img {
        margin-top: 25px;
      }
      .second-section .second-section-container h2 {
        font-size: 25px;
      }
      .section-four .section-four-container h2 {
        font-size: 25px;
      }
       .selling .selling-container .selling-container-images .selling-container-images-section {
        border-left: none;
        }
        // selling section end

        // testimonal section css start
        .testimonal-brand-heading{
          font-size: 25px;
          font-weight: 800;
         }
         .testimonal-subheading{
          font-size: 14px;
         }
         // testimonal section css end

         .second-section .second-section-container{
           flex-direction: column;
         }
         .second-section .second-section-container .second-section-container-box {
           width: 100%;
         }

        // footer css start
         .footer{
          display: flex;
          flex-direction: column;
          text-align: center;
          .footer-firstsection{
              width: 100% !important;
              padding-left: 20px !important;
              padding-right: 20px !important;
              .footer-firstsection-logo{
                  margin-top: 0px !important;
                  margin-left: auto;
                  margin-right: auto;
              }
              .footer-p-tag{
                  margin-top: 0px !important;
              }
          }
          .footer-secondsection{
              width: 100% !important;
              
              .footer-secondsection-text{
                  display: flex;
                  flex-direction: column;
                  text-align: center;
                  .footer-secondsection-text-context{
                      margin-left: 0px !important;
                  }
                  .fotter-postion-gap{
                      margin-top: 10px;
                  }
              }
              .footer-secondsection-image{
                  margin-top: 20px;
                  img{
                      margin-left: 0px !important;
                  }
              }
          }
      }
      .footer-last-section{
          font-size: 12px;
      }
      // footer css end

      .register-button{
        padding-top: 10px !important;
      }
      .people-pricing-section .people-pricing-section-container {
        min-width: 1000px;
      }
      .people-pricing-section h1 {
        font-size: 30px;
       }
       .selling .selling-container .selling-container-images .selling-container-images-section img {
         width: 100px;
         height: 100px;
      }
      .people-pricing-section h1 {
        font-size: 23px;
      }
      .selling .selling-container p {
        font-size: 23px;
      }
      .testimonal-header {
        font-size: 30px;
        font-weight: 800;
        line-height: 1.5;
      }
      .second-section .second-section-container{
        height: 1100px;
       }
       .second-section .second-section-header {
        font-size: 27px;
       }
       .Seller-icon{
        transform: translateY(15px);
       }
       .botique-designer {
        text-align: center;
      }
      .second-section .second-section-container p {
        font-size: 18px;
      }
      .second-section .second-section-header {
        margin-bottom: 10px;
      }
    }

    @media only screen and (max-width:320px){
      .botique-designer .botique-designer-container .botique-designer-container-textsection .botique-designer-header {
        font-size: 1.5rem;
      }
    }

   